@charset "UTF-8";
@import "fontawesome/css/all.min.css";
@font-face {
	src:url('NotoSansKR-Regular.otf');
	font-family: "noto";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "noto";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	background-image: linear-gradient(to right,#3e6bc0,#62b8ad);
}

nav {
	width: 200px;
	height: calc(100vh - 50px);
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #2c4585;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 20px;
}

nav > li {
	width: 80%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #36529b;
	height: 50px;
	margin: 5px 0;
	display: flex;
	cursor: pointer;
	justify-content: center;
	font-weight: lighter;
	align-items: center;
	color: #fffa;
}

nav > li.active-fff.active {
	background-color: #fff;
}

nav > li.active {
	background-color: #f7f7f7;
	/*background-color: #fff;*/
	color: #36529b;
	font-weight: bold;
}

#screen {
	width: calc(100% - 200px);
	height: calc(100vh - 50px);
	position: fixed;
	bottom: 0;
	right: 0;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
	background-color: #f7f7f7;
}

.div-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#login > .div-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}


.login-left {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
}

.login-circle {
	width: 300px;
	height: 300px;
	background-color: #dfdfdf;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: relative;
}

.login-circle > img {
	width: 200px;
	object-fit: cover;
}

.circle-circle {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 5px solid #479ee5;
	position: absolute;
}

.circle-circle:nth-child(2){
	left: -30px;
	top: 10px;
}

.circle-circle:nth-child(3){
	right: -16px;
	bottom: 0;
}

.circle-square {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 5px solid #69de10;
}

.circle-square:nth-child(4) {
	top: 25px;
	right: -32px;
}

.circle-square:nth-child(5) {
	bottom: 15px;
	left: -60px;
}

.login-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.input-box {
	position: relative;
	width: 400px;
	height: 60px;
	margin-top: 10px;
	display: flex;
}

.login-right > h1 {
	margin-bottom: 50px;
	font-size: 40px;
}

.input-box > label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
	color: #999;
	font-size: 25px;
}

.input-box > input {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	border:none;
	background-color: #e6e6e6;
	outline: none;
	padding-left: 60px;
	font-size: 17px;
	padding-right: 10px;
}

.input-box > input::placeholder {
	color: #aaa;
}

#login_submit {
	width: 400px;
	margin-top: 40px;
	height: 30px;
	height: 60px;
	border-radius: 50px;
	border:none;
	outline: none;
	background-color: #479ee5;
	cursor: pointer;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}

#login_submit:hover {
	background-color: #4daaf7;
}

#join > .div-wrapper {
	display: flex;justify-content: center;align-items: center;
}

.join-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.join-form > h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

.join-input {
	margin-top: 20px;
	width: 400px;
	position: relative;
}

.join-input > input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: none;
	border:2px solid #ddd;
	padding-left: 15px;
	padding-right: 40px;
	position: relative;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	transition: border .3s, color .3s;
}

.join-input > label {
	position: absolute;
	line-height: 40px;
	z-index: 2;
	right: 15px;
	color: #bbb;
}

.join-input > input::placeholder {
	color: #bbb;
}

.join-input > span {
	position: relative;
	top: 5px;
	width: 400px;
	font-size: 14px;
	color: #898989;
	transition: color .3s;
}

#join_submit {
	width: 100%;height: 60px;
	position: relative;
	font-size: 17px;
	top: 30px;
	color: #fff;
	outline: none;
	background-color: #479ee5;
	border:none;
}

#join_submit:hover {
	background-color: #4daaf7;
}


.join-input-double {
	width: 400px;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.join-input-double > .join-input {
	width: 49%;
}

.page.page-white {
	background: #fff;
}

#logout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

#logout > h1 {
	font-size: 2.5rem;
}

#logout_btn {
	position: relative;
	top: 20px;
	background-color: #479ee5;
	color: #fff;
	border:none;
	border-radius: 5px;
	width: 200px;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	height: 60px;
}

#logout_btn:hover {
	background-color: #4daaf7;	
}

#home-table {
	border-spacing: 0;
	position: relative;
	background-color: #fff;
	width: 900px;
	border-collapse: collapse;
}

.home-inner {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home-table thead tr th {
	background-color: #479ee5;
	color: #fff;
	height: 50px;
	border-right: 1px solid #fff;
	position: relative;
}

#home-table thead tr th:last-child {
	border-right: none;
}

#home-table tbody tr td {
	height: 50px;
	font-size: 15px;
	text-align: center;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.th-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
}

.th-btn-box {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.th-btn-box i {
	position: absolute;
	left: 5px;
	font-size: 15px;
	color: #fff7;
}

.th-btn-box i.order-active {
	color: #fff;
}

.th-btn-box i:last-child {
	margin-top: 3px;
}

#home-table tbody tr td:last-child {
	border-right: none;
}

#home-nav {
	height: 40px;
	display: flex;
	position: relative;
	top: 50px;
	/*border:1px solid #dfdfdf;*/
}

#home-nav > li {
	width: 40px;
	margin: 0 2px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/*border-right: 1px solid #dfdfdf;*/
	background-color: #479ee5;
	color: #fff;
}

#home-nav > li:last-child {
	border-right: none;
}

#home-nav > li.home-active {
	border:1px solid #dfdfdf;
	background: #fff;
	color: #222;
}

.static-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
.static-list {
	position: relative;
	left: 50px;
	top: 50px;
	width: 600px;
	height: 250px;
	border-radius:  5px;
	background-color: #fff;
	box-shadow: 1px 2px 3px 2px #0001;
	display: flex;
}

.static-avg {
	width: 50%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.static-king-score > p,
.static-avg > p {
	font-size: 17px;
	font-weight: bold;
}

.static-king {
	position: relative;
	left: 50px;
	top: 100px;
	width: 600px;
	height: 250px;
	border-radius:  5px;
	background-color: #fff;
	box-shadow: 1px 2px 3px 2px #0001;
	display: flex;
}

.home-no,
.static-no {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #777;
	font-size: 25px;
}

.static-king-score {
	width: 50%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.static-king-score > p > span {
	color: #ff6565;
	font-weight: bold;
}

#info > .div-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#info > .div-wrapper > h1 {
	font-size: 40px;
}

.info-input {
	top: 20px;
	width: 400px;
	height: 60px;
	position: relative;
	margin-top: 10px;
}

.info-input > input {
	width: 100%;
	height: 100%;
	border: 1px solid #dfdfdf;
	padding-right: 50px;
	border-radius: 5px;
	outline: none;
	position: relative;
	font-size: 17px;
	color: #222;
	font-weight: bolder;
}

.info-input > label {
	left: 10px;
	position: absolute;
	font-weight: bold;
	font-size: 17px;
	top: 50%;
	color: #222;
	z-index: 10;
	transform: translateY(-50%);
}

#info_id {
	padding-left: 70px;
}

#info_name {
	padding-left: 55px;
}

.info_edit {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 35px;
	outline: none;
	width: 50px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	border:none;
	right: 10px;
}

.info_edit:hover {
	background-color: #0069d9;
}

#info_delete {
	width: 400px;
	height: 60px;
	position: relative;
	top: 40px;
	background-color: #dc3545;
	outline: none;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	color: #fff;
}

#info_delete:hover {
	background-color: #cb2333;	
}

#info_pwd {
	padding-left: 85px;
}

#info_score {
	padding-left: 55px;
}

#info_age {
	padding-left: 55px;
}